
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
  }
  

  .formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
  }
  
  
  .controlForm {
    margin-bottom: 15px;
  }
  
  .controlFormBold {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .controlForm-n,
  .controlForm-f {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .controlFormSmall {
    margin-right: 5px;
  }
  
  .radioCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  
  .buttoms {
    background-color: #ff7300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
 
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }
  
  
  @media screen and (max-width: 600px) {
    .formulario {
      max-width: 100%;
      margin: 20px 10px;
    }
  }
  
 